In [1]:
from google.colab import files

uploaded = files.upload()

Saving Creditcard_data copy.csv to Creditcard_data copy.csv

In [38]:
import pandas as pd
import numpy as np
df=pd.read_csv("Creditcard_data copy.csv")
df.head(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,1
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 772 entries, 0 to 771
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    772 non-null    int64
 1   V1      772 non-null    float64
 2   V2      772 non-null    float64
 3   V3      772 non-null    float64
 4   V4      772 non-null    float64
 5   V5      772 non-null    float64
 6   V6      772 non-null    float64
 7   V7      772 non-null    float64
 8   V8      772 non-null    float64
 9   V9      772 non-null    float64
 10  V10     772 non-null    float64
 11  V11     772 non-null    float64
 12  V12     772 non-null    float64
 13  V13     772 non-null    float64
 14  V14     772 non-null    float64
 15  V15     772 non-null    float64
 16  V16     772 non-null    float64
 17  V17     772 non-null    float64
 18  V18     772 non-null    float64
 19  V19     772 non-null    float64
 20  V20     772 non-null    float64
 21  V21     772 non-null    float64
 22  V22     772 non-null    float64
 23  V23     772 non-null    float64
 24  V24     772 non-null    float64
 25  V25     772 non-null    float64
 26  V26     772 non-null    float64
 27  V27     772 non-null    float64
 28  V28     772 non-null    float64
 29  Amount  772 non-null    float64
 30  Class   772 non-null    int64
dtypes: float64(29), int64(2)
memory usage: 187.1 KB

In [5]:
df.columns

Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
       'Class'],
      dtype='object')

In [7]:
X = df.drop('Class', axis=1)
y = df['Class']
y.head(5)

0    0
1    1
2    0
3    0
4    0
Name: Class, dtype: int64

In [8]:
y.value_counts()

Class
0    763
1      9
Name: count, dtype: int64

In [19]:
from sklearn.preprocessing import StandardScaler


scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [11]:
!pip install imbalanced-learn

Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.12/dist-packages (0.14.1)
Requirement already satisfied: numpy<3,>=1.25.2 in /usr/local/lib/python3.12/dist-packages (from imbalanced-learn) (2.0.2)
Requirement already satisfied: scipy<2,>=1.11.4 in /usr/local/lib/python3.12/dist-packages (from imbalanced-learn) (1.16.3)
Requirement already satisfied: scikit-learn<2,>=1.4.2 in /usr/local/lib/python3.12/dist-packages (from imbalanced-learn) (1.6.1)
Requirement already satisfied: sklearn-compat<0.2,>=0.1.5 in /usr/local/lib/python3.12/dist-packages (from imbalanced-learn) (0.1.5)
Requirement already satisfied: joblib<2,>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from imbalanced-learn) (1.5.3)
Requirement already satisfied: threadpoolctl<4,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from imbalanced-learn) (3.6.0)

In [12]:
print("Original class distributions:")
print(y.value_counts())

Original class distributions:
Class
0    763
1      9
Name: count, dtype: int64

SINCE THE CLASS IS HIGHLY IMBALANCED TOWARDS ONE MAJORITY CLASS SO WE OVERSAMPLE THE DATA TO MAKE IT BALANCED

In [20]:
from imblearn.over_sampling import SMOTE

smote = SMOTE(random_state=42)
X_smote, y_smote = smote.fit_resample(X_scaled, y)

In [21]:
print("\nClass distribution after SMOTE (entire dataset):")
print(pd.Series(y_smote).value_counts())

Class distribution after SMOTE (entire dataset):
Class
0    763
1    763
Name: count, dtype: int64

In [22]:
balanced_df = pd.DataFrame(X_smote, columns=X.columns)
balanced_df['Class'] = y_smote

In [23]:
from sklearn.model_selection import train_test_split

X_bal = balanced_df.drop('Class', axis=1)
y_bal = balanced_df['Class']

X_train, X_test, y_train, y_test = train_test_split(
    X_bal, y_bal,
    test_size=0.3,
    random_state=42,
    stratify=y_bal
)

In [25]:
print("\nTraining set distribution:")
print(y_train.value_counts())

print("\nTest set distribution:")
print(y_test.value_counts())

Training set distribution:
Class
0    534
1    534
Name: count, dtype: int64

Test set distribution:
Class
1    229
0    229
Name: count, dtype: int64

In [42]:
#a function to show before and after of various sampling techniques
def show_before_after(original_df, sampled_df, title):
    print(f"\n{'='*60}")
    print(title)
    print(f"{'='*60}")

    print("\nBefore Sampling:")
    print(original_df['Class'].value_counts())

    print("\nAfter Sampling:")
    print(sampled_df['Class'].value_counts())

In [32]:
#simple random sampling
def simple_random_sampling(df, n):
    return df.sample(n=n, random_state=42)

In [33]:
#systematic sampling
def systematic_sampling(df, k=5):
    return df.iloc[::k]

In [34]:
#stratified sampling
def stratified_sampling(df, n):
    from sklearn.model_selection import StratifiedShuffleSplit

    split = StratifiedShuffleSplit(
        n_splits=1,
        train_size=n,
        random_state=42
    )

    for train_idx, _ in split.split(df, df['Class']):
        return df.iloc[train_idx]

In [35]:
#cluster sampling
def cluster_sampling(df, n_clusters=5):
    df_copy = df.copy()
    df_copy['cluster'] = pd.cut(df_copy.index, n_clusters, labels=False)
    chosen_cluster = np.random.choice(df_copy['cluster'].unique())
    return df_copy[df_copy['cluster'] == chosen_cluster].drop('cluster', axis=1)

In [36]:
#bootstrap sampling
def bootstrap_sampling(df, n):
    return df.sample(n=n, replace=True, random_state=42)

In [39]:
sample_size = 1000

S1 = simple_random_sampling(balanced_df, sample_size)
S2 = systematic_sampling(balanced_df)
S3 = stratified_sampling(balanced_df, sample_size)
S4 = cluster_sampling(balanced_df)
S5 = bootstrap_sampling(balanced_df, sample_size)

In [40]:
samples = {
    "Sampling 1: Simple Random Sampling": S1,
    "Sampling 2: Systematic Sampling": S2,
    "Sampling 3: Stratified Sampling": S3,
    "Sampling 4: Cluster Sampling": S4,
    "Sampling 5: Bootstrap Sampling": S5
}

In [43]:
for name, sample_df in samples.items():
    show_before_after(balanced_df, sample_df, name)

============================================================
Sampling 1: Simple Random Sampling
============================================================

Before Sampling:
Class
0    763
1    763
Name: count, dtype: int64

After Sampling:
Class
0    513
1    487
Name: count, dtype: int64

============================================================
Sampling 2: Systematic Sampling
============================================================

Before Sampling:
Class
0    763
1    763
Name: count, dtype: int64

After Sampling:
Class
0    155
1    151
Name: count, dtype: int64

============================================================
Sampling 3: Stratified Sampling
============================================================

Before Sampling:
Class
0    763
1    763
Name: count, dtype: int64

After Sampling:
Class
1    500
0    500
Name: count, dtype: int64

============================================================
Sampling 4: Cluster Sampling
============================================================

Before Sampling:
Class
0    763
1    763
Name: count, dtype: int64

After Sampling:
Class
0    156
1    149
Name: count, dtype: int64

============================================================
Sampling 5: Bootstrap Sampling
============================================================

Before Sampling:
Class
0    763
1    763
Name: count, dtype: int64

After Sampling:
Class
1    535
0    465
Name: count, dtype: int64

In [44]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

In [45]:
models = {
    "M1_Logistic": LogisticRegression(max_iter=1000),
    "M2_DecisionTree": DecisionTreeClassifier(random_state=42),
    "M3_RandomForest": RandomForestClassifier(random_state=42),
    "M4_KNN": KNeighborsClassifier(),
    "M5_SVM": SVC()
}

In [46]:
samples = {
    "Sampling1": S1,
    "Sampling2": S2,
    "Sampling3": S3,
    "Sampling4": S4,
    "Sampling5": S5
}

In [47]:
results = pd.DataFrame(
    index=models.keys(),
    columns=samples.keys()
)

In [48]:
for samp_name, samp_df in samples.items():

    X_s = samp_df.drop("Class", axis=1)
    y_s = samp_df["Class"]

    for model_name, model in models.items():
        scores = cross_val_score(
            model,
            X_s,
            y_s,
            cv=5,
            scoring="accuracy"
        )

        results.loc[model_name, samp_name] = round(scores.mean() * 100, 2)

In [49]:
print("\nFinal Accuracy Table:")
print(results)

Final Accuracy Table:
                Sampling1 Sampling2 Sampling3 Sampling4 Sampling5
M1_Logistic          91.2      85.3      92.2     93.11      94.2
M2_DecisionTree      97.7     86.91      98.3     80.66      98.3
M3_RandomForest      99.7     98.69      99.8     95.41      99.4
M4_KNN               92.4     78.11      92.6     90.49      92.9
M5_SVM               97.7     95.09      97.8     98.03      98.8

In [50]:
results_numeric = results.astype(float)

In [51]:
best_sampling_per_model = pd.DataFrame({
    "Best_Sampling_Technique": results_numeric.idxmax(axis=1),
    "Best_Accuracy (%)": results_numeric.max(axis=1)
})

In [52]:
print("\nBest Sampling Technique for Each Model:")
print(best_sampling_per_model)

Best Sampling Technique for Each Model:
                Best_Sampling_Technique  Best_Accuracy (%)
M1_Logistic                   Sampling5               94.2
M2_DecisionTree               Sampling3               98.3
M3_RandomForest               Sampling3               99.8
M4_KNN                        Sampling5               92.9
M5_SVM                        Sampling5               98.8